@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  color: #333333;

  background-color: #FFFFFF;
}

a {
  text-decoration: none;
}

.btn {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;

  border: none;
}

.btn--blue {
  background-color: #82B3D3;
}

.btn--brown {
  background-color: #756157;
}

.btn-transparent {
  background: transparent;
}

.btn--rounded-frame {
  border-radius: 4px;
}

.btn--bolded-text {
  font-size: 20px;
  line-height: 36px;
}

.page-header {
  font-weight: 700;
}

.main-navigation-link {
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.top-info {
  background-image: url("../images/index/background_index.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.about-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.about-subtitle {
  font-size: 22px;
  line-height: 26px;
}

.advantage {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantage--detail {
  background-color: #82B3D3;
}

.advantage--light {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.advantage-title--light {
  color: #ffffff;
}

.advantage-description--light {
  color: #ffffff;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.search-description {
  font-size: 22px;
  line-height: 26px;
}

.subscribe-with-background {
  background-image: url("../images/index/background_subscribe.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.subscribe-title--light {
  color: #ffffff;
}

.subscribe-description {
  font-size: 22px;
  line-height: 26px;
}

.subscribe-description--light {
  color: #ffffff;
}

.subscribe-input {
  line-height: 24px;
  color: #000000;

  background-color: #ffffff;
  opacity: 0.6;
}

.footer-contacts-phone {
  font-style: normal;
  font-size: 40px;
  line-height: 46px;
  text-transform: uppercase;
  color: #000000;
}

.hotel-catalog-top {
  color: #ffffff;

  background-image: url("../images/catalog/background_catalog.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.hotel-catalog-top-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs-link {
  font-size: 16px;
}

.filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.filter-label {
  line-height: 23px;
}

.hotel-catalog-result-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.card-rating-block {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
}
