@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  color: #333333;

  background-color: #F2F2F2;
}

a {
  text-decoration: none;

  cursor: pointer;
}

a:hover,
a:focus {
  outline: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  display: inline-block;
  box-sizing: border-box;

  font-family: inherit;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;

  border: none;
  border-radius: 4px;

  cursor: pointer;
}

.btn:hover,
.btn:focus {
  outline: none;
}

.btn--primary,
.btn--primary:active {
  background-color: #82B3D3;
}

.btn--primary:hover,
.btn--primary:focus {
  background-color: #68A2CA;
}

.btn--secondary,
.btn--secondary:active {
  background-color: #756157;
}

.btn--secondary:hover,
.btn--secondary:focus {
  background-color: #615048;
}

.btn--selected,
.btn--selected:active {
  background-color: #7DB54F;
}

.btn--selected:hover,
.btn--selected:focus {
  background-color: #6C9E42;
}

.btn--primary:active,
.btn--secondary:active,
.btn--selected:active {
  color: rgba(255, 255, 255, 0.3);
}

.btn--bolded-text {
  font-size: 20px;
  line-height: 36px;
}

.input {
  box-sizing: border-box;

  font-family: inherit;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #f2f2f2;
  border: 3px solid transparent;

  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
  outline: none;
}

.input:focus {
  border: 3px solid #83B3D3;
}

.input:active {
  border: 3px solid #000000;
}

.select {
  padding: 12px 18px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;

  font-family: inherit;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
  background-image: url("../images/common/icon_arrow_down.svg");
  background-repeat: no-repeat;
  background-position: 94% 54%;

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}

.select:hover,
.select:focus {
  border: 2px solid #68A2CA;
}

.select:active {
  border: 2px solid #3F5E72;
}

.checkbox,
.radio {
  position: absolute;
  top: 2px;
  left: 0;

  width: 14px;
  height: 14px;

  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  border: 3px solid transparent;

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}

.checkbox {
  border-radius: 4px;
}

.radio {
  border-radius: 50%;
}

.checkbox:hover,
.checkbox:active,
.radio:hover,
.radio:active {
  opacity: 0.3;
}

.checkbox:focus,
.radio:focus {
  border: 3px solid #83B3D3;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;

  background-color: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.page-header {
  display: flex;
  justify-content: space-between;
  min-height: 64px;
  padding: 0 70px;

  font-weight: 700;
}

.main-navigation {
  position: relative;

  display: flex;
  align-items: stretch;
}

.main-navigation-user {
  align-items: center;
}

.main-logo {
  position: absolute;
  top: 0;
  left: 0;

  width: 140px;
}

.main-navigation-list {
  display: flex;
  align-items: stretch;
  margin: 0 0 0 184px;
  padding: 0;

  list-style: none;
}

.main-navigation-user .main-navigation-list {
  margin: 0;
}

.main-navigation-item {
  margin-right: 33px;
}

.main-navigation-user .main-navigation-item {
  margin-right: 23px;
}

.main-navigation-item:last-child {
  margin-right: 0;
}

.main-navigation-link {
  display: flex;
  align-items: center;
  height: 100%;
  box-sizing: border-box;

  font-size: 20px;
  line-height: 24px;
  color: #000000;

  border-bottom: 2px solid #ffffff;
}

.main-navigation-link--current {
  border-bottom: 2px solid #756257;
}

.main-navigation-user .main-navigation-link {
  position: relative;
  width: 20px;
  height: 20px;

  border: none;
}

.main-navigation-link--search,
.main-navigation-link--favourites {
  background-repeat: no-repeat;
  background-position: center;
}

.main-navigation-link--search {
  background-image: url("../images/common/icon_search.svg");
}

.main-navigation-link--favourites {
  background-image: url("../images/common/icon_heart.svg");
}

.main-navigation-number {
  position: absolute;
  top: -10px;
  right: -8px;

  padding: 5px;

  font-size: 10px;
  line-height: 10px;
  color: #ffffff;

  background-color: #7DB54F;
  border-radius: 50%;
}

.main-navigation-btn {
  display: block;
  max-height: 36px;
  margin-left: 32px;
  padding: 8px 34px;
  box-sizing: border-box;
}

.page-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.top-info {
  min-height: 485px;
  padding: 51px 0 82px;
  box-sizing: border-box;

  background-image: url("../images/index/background_index_bottom.svg"), url("../images/index/background_index.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.top-info-img {
  display: block;
  margin: 0 auto;
}

.about-header {
  padding: 69px 0 90px;
}

.about-title {
  width: 620px;
  margin: 0 auto 25px;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.about-subtitle {
  margin: 0;

  font-size: 22px;
  line-height: 26px;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.about-item {
  width: 400px;
  height: 384px;
  padding: 103px 85px 121px;
  box-sizing: border-box;
}

.about-item:nth-child(n) {
  background-color: rgba(131, 179, 211, 0.2);
}

.about-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}

.about-item-detail {
  display: flex;
  width: 100%;
  padding: 0;
}

.advantage--primary {
  padding: 92px 85px 111px;
  box-sizing: border-box;

  color: #ffffff;

  background-color: #82B3D3;
}

.about-item-home,
.about-item-food,
.about-item-present {
  padding: 80px 85px 81px;
}

.about-item-food {
  background-color: #ffffff !important;
}

.about-item-home .advantage,
.about-item-food .advantage,
.about-item-present .advantage {
  padding-top: 102px;

  background-size: 75px auto;
  background-repeat: no-repeat;
  background-position: center top;
}

.about-item-home .advantage {
  background-image: url("../images/index/icon_home_blue.svg");
}

.about-item-food .advantage {
  background-image: url("../images/index/icon_food_blue.svg");
}

.about-item-present .advantage {
  background-image: url("../images/index/icon_present_blue.svg");
}

.advantage-title {
  position: relative;
  width: 175px;
  margin: 0 auto 30px;

  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.advantage-title:not(.about-item-home .advantage-title,
  .about-item-food .advantage-title, .about-item-present .advantage-title) {
  margin: 0 auto 62px;
}

.advantage--primary .advantage-title {
  color: #ffffff;
}

.advantage-title:not(.about-item-home .advantage-title,
  .about-item-food .advantage-title, .about-item-present .advantage-title)::before {
  content: "";
  position: absolute;
  bottom: -32px;
  left: 58px;

  width: 60px;
  height: 2px;

  background-color: rgba(0, 0, 0, 0.3);
}

.advantage--primary .advantage-title:not(.about-item-home .advantage-title,
  .about-item-food .advantage-title, .about-item-present .advantage-title)::before {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantage-description {
  margin: 0;
}

.search {
  padding: 96px 0;
}

.search-title {
  margin: 0 auto 20px;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.search-description {
  width: 592px;
  margin: 0 auto 54px;

  font-size: 22px;
  line-height: 26px;
}

.search-btn {
  padding: 8px 50px;
}

.subscribe {
  padding: 96px 0 104px;
}

.subscribe-with-background {
  background-image: url("../images/index/background_subscribe.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscribe-title {
  margin: 0 auto 20px;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.subscribe-with-background .subscribe-title {
  color: #ffffff;
}

.subscribe-description {
  width: 475px;
  margin: 0 auto 54px;

  font-size: 22px;
  line-height: 26px;
}

.subscribe-description--light {
  color: #ffffff;
}

.subscribe-form {
  display: flex;
  width: fit-content;
  margin: 0 auto;
}

.subscribe-input {
  width: 452px;
  padding: 13px 17px 9px;

  border-radius: 4px 0 0 4px;
}

.subscribe-btn {
  padding: 8px 50px;

  border-radius: 0 4px 4px 0;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 120px;
  padding: 11px 70px 0;
  box-sizing: border-box;
}

.footer-social-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 40px;

  fill: #83B3D3;
}

.footer-social-link:hover,
.footer-social-link:focus {
  fill: #68A2CA;
}

.footer-social-link:active {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-contacts-phone {
  font-style: normal;
  font-size: 40px;
  line-height: 46px;
  text-transform: uppercase;
  color: #000000;
}

.footer-contacts-phone:hover,
.footer-contacts-phone:focus {
  color: #756157;
}

.footer-contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-logo {
  width: 115px;
  height: 33px;

  fill: #000000;
}

.footer-logo:hover,
.footer-logo:focus {
  fill: #756157;
}

.footer-logo:active {
  fill: rgba(117, 97, 87, 0.3);
}

.hotel-catalog-top {
  padding: 35px 70px 60px;

  color: #ffffff;

  background-image: url("../images/catalog/background_catalog.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.hotel-catalog-top-title {
  margin: 0 0 8px 0;

  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  text-align: start;
}

.breadcrumbs {
  display: flex;
  margin: 0 0 40px 0;
  padding: 0;

  list-style: none;
}

.breadcrumbs-item {
  display: flex;
  align-items: center;
  margin-right: 28px;
}

.breadcrumbs-item:last-child {
  margin-right: 0;
}

.breadcrumbs-link {
  font-size: 16px;
}

.breadcrumbs-link:hover,
.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link--home {
  position: relative;

  width: 13px;
  height: 15px;

  background-image: url("../images/common/icon_home.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs-link--home::before {
  content: "";
  position: absolute;
  top: 2px;
  right: -17px;

  width: 7px;
  height: 10px;

  background: url("../images/common/icon_arrow_right.svg");
}

.filter {
  display: flex;
  justify-content: space-between;
}

.filter-wrapper {
  display: flex;
}

.filter-group {
  margin: 0;
  padding: 0;

  text-align: start;

  border: none;
}

.filter-group:first-child {
  margin-right: 71px;
}

.filter-title {
  margin-bottom: 32px;
  padding: 0;

  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.filter-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter-label {
  position: relative;

  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding-left: 36px;

  line-height: 23px;
}

.filter-checkbox,
.filter-radio {
  position: absolute;
  z-index: -1;
}

.filter-checkbox:checked + .checkbox {
  background-image: url("../images/common/checkbox.svg");
}

.filter-radio:checked + .radio {
  background-image: url("../images/common/radio.svg");
}

.filter-inputs {
  display: flex;
  margin-bottom: 44px;

  border-radius: 4px;
  overflow: hidden;
}

.filter-inputs .filter-label {
  margin-bottom: 0;
  padding-left: 0;
}

.filter-input {
  width: 143px;
  padding: 10px 18px 8px 18px;

  font-weight: 700;
}

.filter-input#min-price {
  margin-right: 2px;
}

.filter-text {
  position: absolute;
  top: 12px;
  right: 20px;

  color: #000000;
  opacity: 0.3;
}

.filter-scale {
  position: relative;

  width: 288px;

  background-color: rgba(255, 255, 255, 0.3);
}

.filter-range-bar {
  width: 75%;
  height: 4px;

  background-color: #ffffff;
  border-radius: 4px;
}

.filter-range-toggle-btn {
  position: absolute;
  top: -8px;

  width: 20px;
  height: 20px;

  border-radius: 5px;
}

.filter-range-toggle-btn--min-price {
  left: 2px;
}

.filter-range-toggle-btn--max-price {
  right: 60px;
}

.filter-group--btns {
  display: flex;
  flex-direction: column;
  padding-top: 55px;
}

.filter-submit-btn,
.filter-reset-btn {
  margin-bottom: 30px;
  padding: 8px 50px;
}

.filter-reset-btn {
  margin-bottom: 0;

  background: transparent;
  border: 3px solid transparent;
}

.filter-reset-btn:hover,
.filter-reset-btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.filter-reset-btn:focus {
  border: 3px solid #83B3D3;
}

.hotel-catalog-result {
  padding: 49px 70px 60px;
}

.hotel-catalog-result-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.hotel-catalog-result-title {
  margin: 8px 0 0 0;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.sorting {
  display: flex;
}

.sorting-select {
  width: 292px;
  margin-right: 70px;
}

.sorting-list {
  display: grid;
  grid-template-columns: repeat(3, 48px);
  gap: 8px;
  width: auto;
  margin: 0;
  padding: 0;

  list-style: none;
}

.sorting-link {
  display: block;
  width: 48px;
  height: 48px;
  box-sizing: border-box;

  background-size: 16px 14px;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.sorting-link--tile {
  background-image: url("../images/catalog/icon_mode_tile.svg");
}

.sorting-link--slide {
  background-image: url("../images/catalog/icon_mode_slideshow.svg");
}

.sorting-link--list {
  background-image: url("../images/catalog/icon_mode_list.svg");
}

.sorting-link--current,
.sorting-link:hover,
.sorting-link:active {
  border: 2px solid #000000;
}

.sorting-link:focus {
  border: 2px solid #68A2CA;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 19px 20px;
  width: auto;
  margin: 0;
  padding: 0 0 40px 0;

  list-style: none;
}

.card-item {
  width: 340px;
  padding: 20px;
  box-sizing: border-box;

  text-align: start;

  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.card-img {
  margin-bottom: 13px;
}

.card-title {
  margin: 0 0 15px 0;

  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.card-info-price-block {
  margin: 0;
}

.card-info,
.card-btns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.card-more-btn,
.card-favourites-btn {
  width: 140px;
  padding: 8px 18px;
}

.card-rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-rating-stars {
  height: 17px;
  margin: 0;
  padding: 0;

  background-image: url("../images/catalog/icon_star_with_space.svg");
  background-size: contain;
  background-repeat: repeat;
}

.card-rating-stars--1 {
  width: 18px;
}

.card-rating-stars--2 {
  width: 42px;
}

.card-rating-stars--3 {
  width: 66px;
}

.card-rating-stars--4 {
  width: 90px;
}

.card-rating-stars--5 {
  width: 108px;
}

.card-rating-block {
  width: 140px;
  margin: 0;
  padding: 9px 21px 7px 23px;
  box-sizing: border-box;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;

  background-color: #f2f2f2;
  border-radius: 4px;
}

.pagination-list {
  display: grid;
  grid-template-columns: repeat(6, 60px);
  gap: 8px;
  width: auto;
  margin: 0;
  padding: 39px 0 0 0;

  border-top: 1px solid #E6E6E6;

  list-style: none;
}

.pagination-link {
  display: block;
  width: 60px;
  padding: 12px 19px;
  box-sizing: border-box;

  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;

  background-color: #82B3D3;
  border-radius: 4px;
}

.pagination-link:not(.pagination-link--current, .pagination-link--hidden):hover,
.pagination-link:not(.pagination-link--current, .pagination-link--hidden):focus {
  background-color: #68A2CA;
}

.pagination-link:not(.pagination-link--current, .pagination-link--hidden):active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link--current,
.pagination-link--hidden {
  color: #000000;
}

.pagination-link--current {
  background-color: #F2F2F2;
}

.pagination-link--hidden {
  background-color: transparent;
}
